# Introduction to Python and Notebooks

This is a notebook to run ipython 3 with the extension **.ipynb**.

In a notebook, the code lines ran in cells. The cells can be a *coding* cell or a *markdown* cell. To change between them, exit the cell by pressing *escape* and then:

* ***m*** to convert to markdown
* ***y*** to convert to code

To create new cells:

* ***a*** to create cell above
* ***b*** to create cell below
* ***dd*** to delete a cell
* ***c*** to copy a cell
* ***v*** to paste a cell below
* ***x*** to cut a cell

To run a single cell, there are three different options using the keyboard:

1. ***ctrl+shift***: run and go to the next cell
2. ***ctrl+enter***: run and keeps on current cell
3. ***alt+enter***: run and create a new cell below

For coding, you can create variables like the example below:

In [1]:
a = 10
b = 5

For simple operations, just try to type then. For example adding the variables created previously:

In [2]:
a + b

15

The result is printed below the cell. It happens because the output was not directed to a new variable. Let's try to do it:

In [5]:
c = a + b
a
b
c

15

Cool! Now, to print the outcome of the variable **c**, just type **c** and run the cell or use the built-in function *print()*:

In [7]:
print(a)
print(c)

10
15

Other simples operations:

* ***-*** for subtraction
* ***\**** for multiplication
* ***/*** for division

Try them later at home!

## Python structures

1. ***array***: collection of elements of the same type
2. ***list***: collection of elements that can have different types. Inclosed in *brackets*
3. ***tuple***: similar to list, but with less "resources". Inclosed by *parentheses*
4. ***dictionary***: sequence of items in pairs, the **key** and the **value**. Inclosed by *curly brackets*

In [8]:
# This is a list
A = [1, 2, 'foo']

# This is a tuple
B = (1, 2, 'foo')

# This is a dict
C = {'X': 1, 'Y': [1,2]}

In [9]:
print(A)

[1, 2, 'foo']

In [10]:
print(B)

(1, 2, 'foo')

In [11]:
print(C)

{'X': 1, 'Y': [1, 2]}

List are more popular than tuples, as they have a bunch of functionalities, like *.append()*, for example:

In [12]:
A.append(4)
A

[1, 2, 'foo', 4]

You can find more list functionalities [here](https://thomas-cokelaer.info/tutorials/python/lists.html).

**Dictionaries** are very powerful to find some *shortcuts* during coding (we will see that later on).

In [13]:
C.keys()

dict_keys(['X', 'Y'])

In [14]:
C.values()

dict_values([1, [1, 2]])

In [15]:
C['Y']

[1, 2]

## Installing and importing packages

In python, you can install packages from default repositories. The most commom way to install a package is using the command *pip install package-name*. If you have Anaconda installed in your machine, you can also use the command *conda install*. The installation is usually performed from a terminal, or you can do it from a Notebook cell by including the symbol **!** before the command. For example, if we want to install the visualization package [Seaborn](https://seaborn.pydata.org/):

```python
! pip install seaborn
```

To import a package, use the command *import*. For example, to import the scientific computing package [Numpy](http://www.numpy.org/):

```python
import numpy
```

Or you can import the package and give it a new "name":

```python
import numpy as np
```

In [17]:
# import the numpy package
import numpy

In [18]:
a = numpy.array(B)
a

array(['1', '2', 'foo'], dtype='<U11')

In [19]:
# import the numpy package as np
import numpy as np

In [22]:
a = np.array(B)
a

array(['1', '2', 'foo'], dtype='<U11')

## Using imported packages

After the the package (or module) is imported, you can use its functionality for coding. The module can be understood as a *.py* files that can contain *classes* and/or *functions* in it.

* ***Module***: similar to package
* ***Class***: an object that can be associated to functions or definitions from a module or from your coding
* ***Functions***: defined sequence of codes (we will study those later)

For example, let's import and work with the module [Pandas](https://pandas.pydata.org/):

In [23]:
import pandas as pd

In [24]:
d = {'col1': [1, 2, 3, 4, 5, 6, 7, 8], 'col2': [3, 4, 5, 6, 7, 8, 9, 10]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4
2     3     5
3     4     6
4     5     7
5     6     8
6     7     9
7     8    10

In [25]:
df['col1']

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
Name: col1, dtype: int64

In [26]:
df['col1'].values

array([1, 2, 3, 4, 5, 6, 7, 8], dtype=int64)

Using *pandas*, we created a **dataframe** named **df**. Dataframes are class objects from the *pandas* module. And some functions are associated with this class. Let's try to use the the function *.head()* on the *df* and see what happens:

In [27]:
df.head(2)

   col1  col2
0     1     3
1     2     4

Now, print the last 2 rows of the dataframe **df** (hint: google for the *tail* functionality):

In [28]:
df.tail(2)

   col1  col2
6     7     9
7     8    10